page_title: "Terraform-in-Terraform (tfcli) Provider"
subcategory: ""
description: |-
This provider allows running Terraform in Terraform. This might seem insane but there are some edge cases where it comes in handy.
---

# Terraform-in-Terraform (tfcli) Provider

{{ tffile "examples/full/main.tf" }}
